In [48]:
import pandas as pd
inputs = pd.read_csv("inputs.csv")
inputs["MR"] = ""
weather  = pd.read_csv("MERRA_PRECIP_HOUR.csv")
weather["DATE"] = weather.DATE_TIME.apply(lambda x: x[:9])

In [49]:
inputs

,Latitude,Longitude,Cell No/identifier,date,SOPT,MROPT,hydrlic_conduc,MR
0,45.264827,-93.714984,127,12-Aug-21,0.2515,30000,7.390,
1,45.263060,-93.711164,188,12-Aug-21,0.2625,28000,0.919,
2,45.264593,-93.713997,189,12-Aug-21,0.3448,25000,0.739,
3,45.259115,-93.703928,328,12-Aug-21,0.3000,25000,0.738,

In [50]:
weather

,DATE_TIME,RUNOFF,PRECIPITATION,PRECIP_FLUX,DATE
0,07-FEB-22 12.00.00.000000 PM,0.000000,0.004,1.245600e-06,07-FEB-22
1,07-FEB-22 01.00.00.000000 PM,0.000000,0.001,2.889000e-07,07-FEB-22
2,07-FEB-22 02.00.00.000000 PM,0.000000,0.000,1.214000e-07,07-FEB-22
3,07-FEB-22 03.00.00.000000 PM,0.000000,0.001,3.048000e-07,07-FEB-22
4,07-FEB-22 04.00.00.000000 PM,0.000000,0.002,5.367000e-07,07-FEB-22
...,...,...,...,...,...
376939,07-AUG-22 02.00.00.000000 PM,0.139793,0.105,2.921370e-05,07-AUG-22
376940,07-AUG-22 03.00.00.000000 PM,0.066835,0.250,6.955860e-05,07-AUG-22
376941,07-AUG-22 04.00.00.000000 PM,0.018388,1.087,3.019570e-04,07-AUG-22
376942,07-AUG-22 05.00.00.000000 PM,0.043496,3.405,9.458070e-04,07-AUG-22
376943,07-AUG-22 06.00.00.000000 PM,0.048900,3.112,8.645060e-04,07-AUG-22

In [52]:
day_weather = weather.loc[weather["DATE"] == '12-AUG-21']

(5, 0.0034000000000000002)

In [56]:
day_weather

,DATE_TIME,RUNOFF,PRECIPITATION,PRECIP_FLUX,DATE
354422,12-AUG-21 12.00.00.000000 AM,3.200400e-04,0.004,9.784000e-07,12-AUG-21
354423,12-AUG-21 01.00.00.000000 AM,3.024000e-04,0.001,2.728000e-07,12-AUG-21
354424,12-AUG-21 02.00.00.000000 AM,3.492000e-05,0.000,2.600000e-09,12-AUG-21
354425,12-AUG-21 03.00.00.000000 AM,3.600000e-07,0.000,2.400000e-09,12-AUG-21
354426,12-AUG-21 04.00.00.000000 AM,7.200000e-07,0.000,2.500000e-09,12-AUG-21
354427,12-AUG-21 05.00.00.000000 AM,3.240000e-06,0.001,2.326000e-07,12-AUG-21
354428,12-AUG-21 06.00.00.000000 AM,2.484000e-04,0.007,1.888700e-06,12-AUG-21
354429,12-AUG-21 07.00.00.000000 AM,7.416000e-05,0.004,1.200000e-06,12-AUG-21
354430,12-AUG-21 08.00.00.000000 AM,3.960000e-06,0.000,0.000000e+00,12-AUG-21
354431,12-AUG-21 09.00.00.000000 AM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354432,12-AUG-21 10.00.00.000000 AM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354433,12-AUG-21 11.00.00.000000 AM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354434,12-AUG-21 12.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354435,12-AUG-21 01.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354436,12-AUG-21 02.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354437,12-AUG-21 03.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354438,12-AUG-21 04.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354439,12-AUG-21 05.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354440,12-AUG-21 06.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354441,12-AUG-21 07.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354442,12-AUG-21 08.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354443,12-AUG-21 09.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354444,12-AUG-21 10.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21
354445,12-AUG-21 11.00.00.000000 PM,0.000000e+00,0.000,0.000000e+00,12-AUG-21

In [47]:
for index, row in inputs.iterrows():
    cell_no = row["Cell No/identifier"] 
    date = row["date"].upper()
    SOPT = row["SOPT"]
    MROPT = row["MROPT"]
    hydrlic_conduc = row["hydrlic_conduc"]
    
    
    #weather information extracts here
    day_weather = weather.loc[weather["DATE"] == date]
    rain_dur = (day_weather['PRECIPITATION'] != 0).sum()
    rain_int = day_weather['PRECIPITATION'].sum()/rain_dur
    
    #saturation and MR calculation
    
    saturation = saturation_cal(cell_no, rain_int, rain_dur, hydrlic_conduc=None)    
    right_side= a+(b-a)/(1+math.exp(math.log(-b/a)+km*(saturation-SOPT)))
    MR = MROPT*math.pow(10, right_side)
       
    inputs["MR"][index] = MR

-93.714984
-93.711164
-93.713997
-93.703928

C:\Users\SR\AppData\Local\Temp\ipykernel_27672\3995704922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs["MR"][index] = 5
C:\Users\SR\AppData\Local\Temp\ipykernel_27672\3995704922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs["MR"][index] = 5
C:\Users\SR\AppData\Local\Temp\ipykernel_27672\3995704922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs["MR"][index] = 5
C:\Users\SR\AppData\Local\Temp\ipykernel_27672\3995704922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs["MR"][index] = 5

,Latitude,Longitude,Cell No/identifier,date,SOPT,MROPT,hydrlic_conduc,MR
0,45.264827,-93.714984,127,12-Aug-21,0.2515,30000,7.390,5
1,45.263060,-93.711164,188,12-Aug-21,0.2625,28000,0.919,5
2,45.264593,-93.713997,189,12-Aug-21,0.3448,25000,0.739,5
3,45.259115,-93.703928,328,12-Aug-21,0.3000,25000,0.738,5

In [45]:
inputs["MR"][3]

''

In [46]:
index

3

In [ ]:
# from csv file
location = 
date = 
SOPT
MROPT
hydrlic_conduc

cell_loc = {127:(45.264827, -93.714984), 188 : (45.263060, -93.711164), 
            189: (45.264593, -93.713997), 328:(45.259115, -93.703928) }

for index, row in inputs.iterrows():
    
    cell_no = row["Cell No/identifier"] 
    date = row["date"]
    SOPT = row["SOPT"]
    MROPT = row["MROPT"]
    hydrlic_conduc = row["hydrlic_conduc"]
    
    
    saturation = saturation_cal(cell_no, rain_int, rain_dur, hydrlic_conduc=None)
    
    #MR calculation
    right_side= a+(b-a)/(1+math.exp(math.log(-b/a)+km*(saturation-SOPT)))
    MR = MROPT*math.pow(10, right_side)
       
    inputs["MR"][index] = MR

In [ ]:




def saturation_cal(cell_no, rain_int, rain_dur, hydrlic_conduc=None):
    if cell_no==188:
        saturation = 22.31+2.70*rain_int+3.31*rain_dur
    
    elif cell_no==189:
        saturation = 20.65+3.61*rain_int+3.15*rain_dur
    
    elif cell_no==127:
        saturation = 18.97+3.27*rain_int+2.71*rain_dur
    
    else:
        if isinstance(hydrlic_conduc, (int, float)): 
            saturation = 21.63+3.60*rain_int+2.83*rain_dur-0.34*hydrlic_conduc
        else:
            raise Exception("Provide correct hydraulic conductivity value")
            
    return saturation


def mr_val (saturation, a, b, km, SOPT, MROPT):
    right_side= a+(b-a)/(1+math.exp(math.log(-b/a)+km*(saturation-SOPT)))
    MR = MROPT*math.pow(10, right_side)
    return MR

weather["DATE"] = weather.DATE_TIME.apply(lambda x: x[:9])
weather.loc[weather["DATE"] == '12-AUG-21']
inputs["date"][0].upper()